@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5372F0;
}
::selection{
  color: #fff;
  background: #5372F0;
}
.wrapper{
  width: 511px;
  padding: 40px 30px 50px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
}
.wrapper form{
  margin: 40px 0;
}
form .field{
  width: 100%;
  margin-bottom: 20px;
}

form .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
}
form input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: #5372F0;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
form .field input:focus,
form .field.valid input{
  border-color: #5372F0;
}
form .field.shake input,
form .field.error input{
  border-color: #dc3545;
}
.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon{
  left: 15px;
  color: #bfbfbf;
}
.input-area .error-icon{
  right: 15px;
  color: #dc3545;
}
form input:focus ~ .icon,
form .field.valid .icon{
  color: #5372F0;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
  color: #bfbfbf;
}
form input::placeholder{
  color: #bfbfbf;
  font-size: 17px;
}
form .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error{
  display: none;
}
form .field.shake .error,
form .field.error .error{
  display: block;
}
form .pass-txt{
  text-align: left;
  margin-top: -10px;
}
.wrapper a{
  color: #5372F0;
  text-decoration: none;
}
.wrapper a:hover{
  text-decoration: underline;
}

form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}

form input[type="submit"]{
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #5372F0;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.form .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #4070f4;
  border-radius: 25px;
}
.form .input-field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}
.input-field input{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
}
.input-field input:is(:focus, :valid){
  border-bottom-color: #4070f4;
}
.input-field i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
}
.input-field input:is(:focus, :valid) ~ i{
  color: #4070f4;
}
.input-field i.icon{
  left: 0;
}
.input-field i.showHidePw{
  right: 0;
  cursor: pointer;
  padding: 10px;
}
.form .checkbox-text{
  text-align: center;
  width: 100%;
  

}
.checkbox-text .checkbox-content{
  align-items: flex;
  padding-left: 5px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 32px;
}
.checkbox-content input{
  accent-color: #4070f4;
}
.form .text{
  color: #333;
  font-size: 14px;
}
.form a.text{
  color: #4070f4;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form .button{
  margin-top: 35px;
}
.form .button input{
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
}

.form .login-signup{
  margin-top: 30px;
  text-align: center;
}


table.design {
  
  font-family: "Times New Roman", Times, serif;
  border: 6px solid #FFFFFF;
  background-color: #FFFFFF;
  width: 80%;
  text-align: absolute;
  border-collapse: collapse;
}
table.design td, table.design th {
  
  border: 8px solid #FFFFFF;
  padding: 4px 12px;
}
table.design tbody td {
  
  font-size: 15px;
  color: #000000;
}
table.design thead {
  
  background: #FFFFFF;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 36%, #FFFFFF 60%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 36%, #FFFFFF 60%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 36%, #FFFFFF 60%);
  border-bottom: 10px solid #FFFFFF;
}
table.design thead th {
 
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: absolute;
  border-left: 4px solid #FFFFFF;
}
table.design thead th:first-child {
  
  border-left: none;
}

table.design tfoot td {
  
  font-size: 6px;
}
